<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>asksom</title>
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap');
        body {
            background-image: url("../../static/images/bg3.jpg");
        }
    </style>
    <link rel="stylesheet" href="static/initial.css">
</head>
<body>
    <div id="container">
       <div id="sign_up">
            <a href="auth/signup/"><img src="../../static/images/cup.png" alt=" " width="150"></a>
            <p class="sign_text"><a href="auth/signup/">SIGN UP</a></p>
        </div>

        <div id="log_in">
            <p><a href="auth/login/">LOG IN</a></p>
            <a href="auth/login/"><img src="../../static/images/book.png"  alt=" " width="150"></a>
        </div>

        <div id="comm">
            <p><a href="question/list/">COMMUNITY</a></p>
            <a href="question/list/"><img src="../../static/images/music_som.png" alt=" " width="150"></a>
        </div>
        <!-- stand 이미지 삽입 -->
<!--        <div id="stand">-->
<!--            <img src="../../static/images/stand.png" alt=" " width="180">-->
<!--        </div>-->
        <div id="schedule">
            <p><a href="static/schedule.html">SCHEDULE</a></p>
            <a href="static/schedule.html"><img src="../../static/images/calender.png" alt=" " width="150"></a>
        </div>
    </div>
</body>
</html>